SampleSYSBANK/Connected Services/BankingService/WcfBankingService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBankingService.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBankingService.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalBalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UpdateBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDTO" nillable="true" type="tns:AccountDTO" />
  <xs:complexType name="ArrayOfAccountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountDTO" nillable="true" type="tns:AccountDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountDTO" nillable="true" type="tns:ArrayOfAccountDTO" />
  <xs:complexType name="StatementDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deposit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fee" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FullMoney" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IBANFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBANTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PrevBalanceFrom" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrevBalanceTo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Req_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Withdraw" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatementDTO" nillable="true" type="tns:StatementDTO" />
  <xs:complexType name="ArrayOfStatementDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatementDTO" nillable="true" type="tns:StatementDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatementDTO" nillable="true" type="tns:ArrayOfStatementDTO" />
  <xs:complexType name="TransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deposit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fee" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FullMoney" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PrevBalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Req_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Withdraw" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDTO" nillable="true" type="tns:TransactionDTO" />
  <xs:complexType name="ArrayOfTransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionDTO" nillable="true" type="tns:TransactionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionDTO" nillable="true" type="tns:ArrayOfTransactionDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CitizenID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassportID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
</xs:schema>